<header>
    <h1><a href="/">Fitness Tracker DWA</a></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <% if (isLoggedIn) { %>
                <li><a href="/logs">Logs & Search</a></li>
                <li><a href="/add-workout">Add Workout</a></li>
                <li><a href="/charts">Charts (Advanced)</a></li>
                <li><a href="/logout">Logout (<%= username %>)</a></li>
            <% } else { %>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
</header>
